/**
 * Basic CSS shits
 */
* {
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

#single-algorithm {
    display: none;
}



/**
 * Page
 */
body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
}

#background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



/**
 * Board
 */
#board {
    position: absolute;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 25%;
}

#board svg {
    width: 100%;
    height: 100%;
}

#board svg text {
    alignment-baseline: central;
    text-anchor: middle;
}



/**
 * Presentation slider
 */
#progressbar {
    -webkit-appearance: none;
    width: 75%;
    left: 0;
    height: 10px;
    background: none;
    outline: none;
    position: fixed;
    bottom:0;
    margin: 0;
    -webkit-transition: .5s;
    transition: .5s;
    display: none;
}

#progressbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5%;
    height: 10px;
    background: white;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

#progressbar::-moz-range-thumb {
    width: 5%;
    height: 10px;
    background: white;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

#progressbar:hover, #progressbar:active {
    height: 25px;
}

#progressbar:hover::-webkit-slider-thumb, #progressbar:active::-webkit-slider-thumb {
    height: 25px;
}

#progressbar:hover::-moz-range-thumb, #progressbar:active::-moz-range-thumb {
    height: 25px;
}

/**
 * Speed slider
 */
.speed-slider {
    -webkit-appearance: none;
    width: 6%;
    height: 8px;
    border-radius: 4px;
    background: rgba(255,255,255,0.5);
    outline: none;
}

.speed-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: white;
    opacity: 1;
    cursor: pointer;
}

.speed-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: white;
    opacity: 1;
    cursor: pointer;
}



/**
 * Panel
 */
#panel {
    position: absolute;
    height: 100%;
    width: 25%;
    right: 0;
    top: 0;
    overflow-y: scroll;
    padding-left: 1em;
}


/**
 * .panel(s) in #panel
 */
.panel, .subpanel {
    margin: 1em 1em 0 0;
}

.panel {
    display: none;
}

.panel .title {
    margin-bottom: .5em;
}

button, .panel input {
    background: none;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid white;
    color: white;
}

/**
 * Buttons panel
 */
#buttons input {
    display: block;
    width: 50%;
    margin-bottom: 1em;
}

/**
 * hint
 */
#hint {
    font-size: 1.2em;
}

/**
 * Error panel
 */
#error {
    background: #0080be;
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 2em;
}

#error>div {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#error button {
    font-size: 2rem;
    margin: 1em;
}